ADF/Iterator_File_Under_ForEach.json
{
    "name": "iterator_multiple_file_incremental_load",
    "properties": {
        "activities": [
            {
                "name": "watermark_date",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select LastProcessedTimestamp from @{pipeline().parameters.WaterMarkTable} where TableName = '@{pipeline().parameters.TargetTableName}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "incremental_datasets",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "max_lastmodified_from_source",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select max(LastModified) as max_lastModified from @{pipeline().parameters.SourceTableName}",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "incremental_datasets",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Copy data1",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "watermark_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "max_lastmodified_from_source",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from @{pipeline().parameters.SourceTableName} where LastModified > '@{activity('watermark_date').output.value[0].LastProcessedTimestamp}' and LastModified <= '@{activity('max_lastmodified_from_source').output.value[0].max_lastModified}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "incremental_datasets",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "incremental_load_multi",
                        "type": "DatasetReference",
                        "parameters": {
                            "file_name": {
                                "value": "@concat(pipeline().parameters.TargetTableName,'-',activity('max_lastmodified_from_source').output.value[0].max_lastModified,'.csv')",
                                "type": "Expression"
                            },
                            "folder_name": "@pipeline().parameters.TargetTableName"
                        }
                    }
                ]
            },
            {
                "name": "Stored procedure1",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy data1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_insert_wartermark_values]",
                    "storedProcedureParameters": {
                        "LastProcessedTimestamp": {
                            "value": {
                                "value": "@activity('max_lastmodified_from_source').output.value[0].max_lastModified",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "TableName": {
                            "value": {
                                "value": "@pipeline().parameters.SourceTableName",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "SourceTableName": {
                "type": "string"
            },
            "WaterMarkTable": {
                "type": "string"
            },
            "TargetTableName": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2024-11-20T15:53:28Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
